@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff") format("woff");
  font-: 400;
  font-style: normal;
}
.clear_fix::after {
  content: "";
  display: block;
  clear: both;
}

a {
  text-decoration: none;
  color: inherit;
}

html,
body {
  height: 100%;
  width: 1920px;
}

#head_inner {
  position: fixed;
  width: 100%;
  height: 90px;
  padding: 0 50px;
  z-index: 300;
}
#head_inner #logo {
  margin-top: 28px;
  margin-left: 140px;
  float: left;
}
#head_inner #logo a {
  display: inline-block;
  width: 184px;
  height: 37px;
  background: url(../images/logo_02.png) no-repeat;
  background-size: 100% auto;
  text-indent: -9999px;
  transition: all 0.2s ease-in-out;
}
#head_inner #logo a:hover {
  background-position: 0 -37px !important;
}
#head_inner #gnb {
  display: inline-block;
}
#head_inner #gnb li {
  float: left;
  margin-left: 77px;
  margin-top: 36px;
}
#head_inner #gnb a {
  text-decoration: none;
  color: #fff;
  font-family: Pretendard-Bold;
  font-size: 19px;
}
#head_inner #gnb a:hover {
  color: #ff8500;
}
#head_inner #top {
  float: right;
  margin-right: 160px;
  margin-top: 41px;
}
#head_inner #top li {
  float: left;
  margin-left: 39px;
  margin-bottom: 5px;
}
#head_inner #top a {
  text-decoration: none;
  color: #fff;
  font-family: Pretendard-Medium;
  font-size: 16px;
}
#head_inner #top a:nth-child(1) {
  text-decoration: none;
  margin-top: -5px;
}
#head_inner #top i {
  margin-left: 10px;
}
#head_inner #top .menu {
  border-top: 2px #fff;
}
#head_inner #top .menu a {
  display: inline-block;
}
#head_inner #top .menu i {
  display: block;
  width: 28px;
  height: 2px;
  background: #fff;
  margin: 5px 0;
}

#head_inner.scrolled {
  background: #fff;
  transition: all 0.4s ease-in-out;
}
#head_inner.scrolled #logo a {
  background-position: 0 bottom;
}
#head_inner.scrolled #gnb a {
  color: #333;
  font-family: Pretendard-Bold;
}
#head_inner.scrolled #gnb a:hover {
  color: #ff8500;
}
#head_inner.scrolled #top a {
  color: #333;
  font-family: Pretendard-Medium;
}
#head_inner.scrolled #top a:hover {
  color: #ff8500;
}
#head_inner.scrolled #top .menu i {
  background: #333;
}

main {
  margin: 0 auto;
}
main #main_banner .v_inner img {
  background: rgba(0, 0, 0, 0.5);
}
main #main_banner img {
  position: relative;
  height: 1080px;
  width: 1920px;
}
main #main_banner .main_t {
  position: absolute;
  top: 379px;
  left: 278px;
  font-size: 18px;
  color: #fff;
}
main #main_banner h3 {
  position: absolute;
  top: 439px;
  left: 278px;
  line-height: 60px;
  font-size: 50px;
  color: #fff;
  font-family: Pretendard-Bold;
}
main #main_banner h4 {
  position: absolute;
  top: 600px;
  left: 278px;
  font-size: 22px;
  color: #fff;
  font-family: Pretendard-Medium;
}
main #main_banner .more {
  position: absolute;
  top: 700px;
  left: 285px;
  font-size: 14px;
  color: #fff;
  padding: 8px 17px;
  border: 1px solid #fff;
  border-radius: 30px;
  transition: all 0.3s ease-out;
}
main #main_banner .more a {
  text-decoration: none;
  color: #fff;
}
main #main_banner .more:hover {
  background: #fff;
}
main #main_banner .more:hover a {
  color: #ff8500;
}
main #product {
  width: 100%;
  height: 1136px;
  border-radius: 50px 50px 0 0;
  background: #f6f6f6;
  z-index: 99;
  position: relative;
  margin-top: -50px;
}
main #product h1 {
  font-size: 50px;
  font-family: Pretendard-Bold;
  color: #ff8500;
  padding-top: 215px;
  padding-left: 278px;
  padding-bottom: 100px;
}
main #product input {
  display: none;
}
main #product .pum {
  margin-left: 280px;
}
main #product label {
  display: inline-block;
  font-size: 20px;
  font-family: Pretendard-Bold;
  color: #DBDBDB;
  border-bottom: 2px solid #DBDBDB;
  cursor: pointer;
  margin-right: 23px;
  padding-bottom: 10px;
  width: 120px;
  text-align: center;
}
main #product input:checked + label {
  color: #ff8500;
  border-bottom: 2px solid #ff8500;
}
main #product .medi_go {
  font-size: 20px;
  font-family: Pretendard-Bold;
  color: #ff8500;
  position: absolute;
  top: 349px;
  right: 428px;
}
main #product .medi_go li {
  display: inline-block;
  margin-right: 30px;
}
main #product .more {
  background-color: #fff;
  width: 120px;
  height: 40px;
  border-radius: 50px;
  position: absolute;
  top: 353px;
  right: 278px;
}
main #product .more a {
  font-size: 16px;
  font-family: Pretendard-Bold;
  color: #707070;
  line-height: 45px;
  margin-left: 20px;
}
main #product .more i {
  color: #fff;
  background: #ff8500;
  padding: 6px;
  border-radius: 50px;
  margin-left: 17px;
  margin-top: 7px;
}
main #product #button1:checked ~ #product_j,
main #product #button2:checked ~ #pro1,
main #product #button3:checked ~ #pro2 {
  z-index: 1;
  opacity: 1;
  visibility: visible;
}
main .jea {
  position: absolute;
  top: 490px;
  left: 278px;
  z-index: -1;
  opacity: 0;
  visibility: hidden;
  width: calc(100% - 498px);
}
main .jea #p_j {
  width: 100%;
}
main .jea #p_j .swiper-slide {
  display: flex;
  width: 1364px;
}
main .jea #p_j .swiper-slide .jp01 {
  background: #fff;
  width: 320px;
  height: 444px;
  border-radius: 51px;
}
main .jea #p_j .swiper-slide .jp01 img {
  margin-left: 20px;
  margin-top: 36px;
  cursor: pointer;
}
main .jea #p_j .swiper-slide .jp01 a {
  font-size: 23px;
  font-family: Pretendard-Bold;
  color: #000;
  text-align: center;
}
main .jea #p_j .swiper-slide .jp01 p {
  font-size: 15px;
  font-family: Pretendard-Medium;
  color: #a1a1a5;
  margin-top: 20px;
  text-align: center;
}
main .jea #pro_slide_bt .main_pager {
  color: #ff8500;
  position: absolute;
  top: 194px;
  left: -120px;
  font-size: 40px;
}
main .jea #pro_slide_bt .main_next {
  color: #ff8500;
  font-size: 40px;
  position: absolute;
  top: 194px;
  left: 1475px;
}
main .jea .p_s {
  color: #ff8500;
}
main #best #best_inner {
  width: 1920px;
  position: relative;
}
main #best #best_inner .inner {
  background: #F6F6F8;
  width: 812px;
  height: 404px;
  border-radius: 40px;
  position: absolute;
  top: 212px;
  right: 140px;
  transition: all 0.6s ease-in-out;
  transform: translateY(100px);
  opacity: 0;
}
main #best #best_inner .inner img {
  position: absolute;
  top: 62px;
  left: 19px;
}
main #best #best_inner .inner .button {
  background: #ff8500;
  width: 100px;
  height: 21px;
  border-radius: 8px;
  margin: 95px 324px 0 387px;
}
main #best #best_inner .inner .button p {
  font-family: Pretendard-Medium;
  color: #fff;
  font-size: 14px;
  line-height: 20px;
  margin-left: 14px;
}
main #best #best_inner .inner .best_text {
  position: absolute;
  top: 130px;
  left: 387px;
}
main #best #best_inner .inner .best_text h1 {
  font-family: Pretendard-Bold;
  color: #000;
  font-size: 25px;
  margin-top: 14px;
}
main #best #best_inner .inner .best_text p {
  font-size: 15px;
  color: #9a9a9a;
  font-family: Pretendard-Medium;
  display: inline-block;
  margin-top: 13px;
}
main #best #best_inner .inner .best_text p:nth-child(2) {
  margin-right: 31px;
}
main #best #best_inner .inner .best_text .t1 {
  margin-top: 38px;
  font-family: Pretendard-Medium;
  font-size: 18px;
  color: #505050;
}
main #best #best_inner .inner .best_text .t1 li {
  line-height: 21px;
  margin-top: 13px;
}
main #best #best_inner .inner.show {
  transform: translateY(0);
  opacity: 1;
}
main #group .esg {
  position: relative;
}
main #group .esg img {
  margin-top: 239px;
  margin-left: 140px;
}
main #group .esg .dt {
  position: absolute;
  top: 329px;
  left: 278px;
}
main #group .esg .dt li {
  font-family: Pretendard-Bold;
  color: #ff8500;
  font-size: 25px;
}
main #group .esg .dt li h3 {
  color: #000;
  font-size: 50px;
  margin-top: 14px;
}
main #group .esg .dt li p {
  color: #000;
  font-size: 25px;
  font-family: Pretendard-Medium;
  margin-top: 40px;
}
main #group .esg .dt li p strong {
  font-family: Pretendard-Bold;
}
main #vison .content {
  position: relative;
  height: 2200px;
}
main #vison .content .sijang::before {
  content: url("../images/VISION.png");
  position: absolute;
  top: 24px;
  left: 47px;
  z-index: -1;
  opacity: 0.3;
}
main #vison .content .sijang .si {
  transform: translateY(50px);
  opacity: 0;
  transition: all 1s ease-in-out;
}
main #vison .content .sijang .si img {
  position: absolute;
  top: 297px;
  left: 278px;
}
main #vison .content .sijang .si h1 {
  font-family: Pretendard-Bold;
  color: #ff8500;
  font-size: 30px;
  position: absolute;
  top: 495px;
  left: 713px;
}
main #vison .content .sijang .si p {
  font-size: 24px;
  font-family: Pretendard-Medium;
  line-height: 35px;
  margin-top: 40px;
  position: absolute;
  top: 570px;
  left: 713px;
}
main #vison .content .si.show {
  transform: translateY(0);
  opacity: 1;
}
main #vison .content .hwa {
  transform: translateY(200px);
  opacity: 0;
  transition: all 2s ease-in-out;
}
main #vison .content .hwa .h img {
  position: absolute;
  top: 820px;
  right: 278px;
}
main #vison .content .hwa .h h1 {
  position: absolute;
  top: 1025px;
  right: 719px;
  font-family: Pretendard-Bold;
  color: #ff8500;
  font-size: 30px;
}
main #vison .content .hwa .h p {
  font-size: 24px;
  font-family: Pretendard-Medium;
  line-height: 35px;
  margin-top: 40px;
  text-align: right;
  position: absolute;
  top: 1100px;
  left: 507px;
}
main #vison .content .hwa.show {
  transform: translateY(0);
  opacity: 1;
}
main #vison .content .injea::before {
  content: url("../images/GLOBAL.png");
  position: absolute;
  bottom: 50px;
  z-index: -1;
  opacity: 0.3;
}
main #vison .content .injea .in {
  transform: translateY(212px);
  opacity: 0;
  transition: all 4s ease-in-out;
}
main #vison .content .injea .in img {
  position: absolute;
  top: 1358px;
  left: 278px;
}
main #vison .content .injea .in h1 {
  position: absolute;
  top: 1603px;
  left: 737px;
  font-family: Pretendard-Bold;
  color: #ff8500;
  font-size: 30px;
}
main #vison .content .injea .in p {
  font-size: 24px;
  font-family: Pretendard-Medium;
  line-height: 35px;
  margin-top: 40px;
  position: absolute;
  top: 1678px;
  left: 737px;
}
main #vison .content .in.show {
  transform: translateY(0);
  opacity: 1;
}
main #rd_inner {
  position: relative;
  height: 783px;
  margin-bottom: 250px;
}
main #rd_inner #rd_back {
  background: url(../images/rnd-bg.png) no-repeat;
  background-size: cover;
  position: absolute;
  right: 0;
  width: 1636px;
  height: 645px;
  margin-top: 100px;
}
main #rd_inner #rt01 h1 {
  font-size: 95px;
  font-family: Pretendard-Bold;
  color: #fff;
  position: absolute;
  top: 148px;
  left: 615px;
}
main #rd_inner #rt01 h2 {
  font-size: 36px;
  font-family: Pretendard-Bold;
  color: #fff;
  position: absolute;
  top: 196px;
  right: 692px;
}
main #rd_inner #rt01 p {
  font-size: 20px;
  font-family: Pretendard-Medium;
  color: #fff;
  position: absolute;
  top: 275px;
  right: 287px;
}
main #rd_inner #rt02 {
  display: inline-block;
  width: 1656px;
  margin-left: auto;
  overflow: hidden;
}
main #rd_inner #rt02 .swiper-slide {
  position: relative;
}
main #rd_inner #rt02 .swiper-slide .num {
  font-size: 550px;
  font-family: Pretendard-Medium;
  color: #fff;
  margin: 180px 0 0 -40px;
  letter-spacing: -50px;
}
main #rd_inner #rt02 .swiper-slide div {
  background: rgba(255, 255, 255, 0.3);
  width: 775px;
  height: 225px;
  border-radius: 30px;
  position: absolute;
  top: 360px;
  right: 258px;
  z-index: -5;
}
main #rd_inner #rt02 .swiper-slide div h2 {
  font-size: 31px;
  color: #fff;
  margin: 25px 0 0 49px;
  font-family: Pretendard-Medium;
}
main #rd_inner #rt02 .swiper-slide div li {
  font-size: 25px;
  color: #fff;
  font-family: Pretendard-Medium;
  line-height: 11px;
  margin: 35px 0 0 49px;
}
main #rd_inner .rd_next {
  color: #fff;
  font-size: 50px;
  position: absolute;
  bottom: 297px;
  right: 140px;
}
main #newsroom {
  margin: 0 auto;
}
main #newsroom #news_inner {
  height: 650px;
  position: relative;
}
main #newsroom #news_inner span {
  font-size: 70px;
  font-family: Pretendard-Bold;
  color: #ff8500;
  margin-left: 278px;
}
main #newsroom #news_inner .swiper {
  background: #fff;
  border-radius: 40px;
  width: 1364px;
  height: 456px;
  box-shadow: 5px 5px 5px rgba(112, 112, 112, 0.6);
  margin-top: 80px;
  margin-left: 278px;
}
main #newsroom #news_inner .swiper #n_s #n_i ul {
  margin-left: 865px;
  margin-top: -367px;
}
main #newsroom #news_inner .swiper #n_s #n_i ul li p {
  color: #ff8500;
  font-family: Pretendard-Bold;
  font-size: 16px;
  margin-bottom: 27px;
}
main #newsroom #news_inner .swiper #n_s #n_i ul li h1 {
  font-size: 29px;
  color: #333;
  font-family: Pretendard-Bold;
  margin-bottom: 47px;
}
main #newsroom #news_inner .swiper #n_s #n_i ul li .pt {
  font-size: 18px;
  font-family: Pretendard-Medium;
  color: #888;
  line-height: 23px;
}
main #newsroom #news_inner .swiper #n_s #n_i #more {
  margin-left: 865px;
  position: absolute;
  bottom: 67px;
}
main #newsroom #news_inner .swiper #n_s #n_i #more p {
  font-size: 18px;
  font-family: Pretendard-Medium;
  color: #888;
}
main #newsroom #news_inner .swiper #n_s #n_i #more p i {
  color: #fff;
  background: #ff8500;
  width: 20px;
  height: 20px;
  border-radius: 50px;
  margin-left: 9.5px;
  cursor: pointer;
  text-align: center;
}
main #newsroom #news_inner .swiper #n_s #n_i #more:hover p {
  color: #ff8500;
  cursor: pointer;
}
main #newsroom #news_inner #pro_slide_bt .news_pager {
  color: #ff8500;
  font-size: 40px;
  position: absolute;
  top: 350px;
  left: 215px;
}
main #newsroom #news_inner #pro_slide_bt .news_next {
  color: #ff8500;
  font-size: 40px;
  position: absolute;
  top: 350px;
  right: 190px;
}
main #notice {
  height: 800px;
  background: url(../images/notice_back.png) no-repeat;
  margin-left: 830px;
}
main #notice #notice_inner {
  position: relative;
}
main #notice #notice_inner .gong {
  margin-top: 151px;
  margin-left: -552px;
  display: flex;
}
main #notice #notice_inner .gong h2 {
  color: #ff8500;
  font-size: 35px;
  font-family: Pretendard-Bold;
  cursor: pointer;
  margin-bottom: 35px;
}
main #notice #notice_inner .gong p {
  color: #888;
  font-size: 20px;
  font-family: Pretendard-Medium;
  margin-left: 544px;
  line-height: 20px;
  cursor: pointer;
}
main #notice #notice_inner .gong p i {
  margin-left: 18.5px;
  margin-top: -8px;
}
main #notice #notice_inner .gong_list {
  margin-left: -552px;
}
main #notice #notice_inner .gong_list ul li {
  margin-top: 30px;
}
main #notice #notice_inner .gong_list ul li div {
  border: 1px solid #dedede;
  width: 812px;
  margin-bottom: 22px;
}
main #notice #notice_inner .gong_list ul li p {
  font-size: 20px;
  color: #888;
  font-family: Pretendard-Light;
}
main #notice #notice_inner .gong_list ul li h3 {
  font-size: 22px;
  color: #000;
  font-family: Pretendard-Bold;
  margin-top: 21px;
  cursor: pointer;
}
main #notice #notice_inner #bodo .bodo_inner .bodo_menu {
  position: absolute;
  top: 0;
  right: 278px;
  display: flex;
}
main #notice #notice_inner #bodo .bodo_inner .bodo_menu h2 {
  color: #ff8500;
  font-size: 35px;
  font-family: Pretendard-Bold;
  cursor: pointer;
  margin-right: 173px;
}
main #notice #notice_inner #bodo .bodo_inner .bodo_menu p {
  color: #888;
  font-size: 20px;
  font-family: Pretendard-Medium;
  cursor: pointer;
}
main #notice #notice_inner #bodo .bodo_inner .bodo_menu p i {
  margin-left: 18.5px;
  margin-top: -8px;
}
main #notice #notice_inner #bodo .bodo_inner .bodo_list {
  position: absolute;
  top: 85px;
  left: 345px;
}
main #notice #notice_inner #bodo .bodo_inner .bodo_list ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
main #notice #notice_inner #bodo .bodo_inner .bodo_list ul li {
  margin-bottom: 50px;
}
main #notice #notice_inner #bodo .bodo_inner .bodo_list ul li .content {
  position: relative;
  width: 432px;
  height: 234px;
  overflow: hidden;
  border-radius: 30px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
main #notice #notice_inner #bodo .bodo_inner .bodo_list ul li .content a {
  display: block;
  width: 100%;
  height: 100%;
}
main #notice #notice_inner #bodo .bodo_inner .bodo_list ul li .content .im {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: transform 0.5s ease;
}
main #notice #notice_inner #bodo .bodo_inner .bodo_list ul li .content p {
  position: absolute;
  bottom: 20px;
  left: 20px;
  font-size: 22px;
  font-family: "Pretendard-Medium", sans-serif;
  color: #fff;
  z-index: 1;
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.7);
}
main #notice #notice_inner #bodo .bodo_inner .bodo_list ul li:hover .im {
  transform: scale(1.1);
}
main #grow #grow_inner {
  position: relative;
}
main #grow #grow_inner .faq {
  position: absolute;
  bottom: 103px;
  left: 295px;
}
main #grow #grow_inner .faq p {
  border: 1px solid #fff;
  width: 165px;
  height: 42px;
  border-radius: 10px;
  color: #fff;
  line-height: 42px;
  font-size: 18px;
  font-family: Pretendard-Medium;
  display: inline-block;
  margin-right: 40px;
  text-align: center;
  cursor: pointer;
}
main #grow #grow_inner p:hover {
  color: #ff8500;
  border: 1px solid #fff;
  width: 165px;
  height: 42px;
  background: #fff;
  font-size: 18px;
  font-family: Pretendard-Bold;
}
main #grow #grow_inner .tt:hover {
  color: #ff8500;
  border: 1px solid #fff;
  width: 165px;
  height: 42px;
  background: #fff;
  font-size: 18px;
  font-family: Pretendard-Bold;
}
main #grow #grow_inner .chea {
  border: 1px solid #fff;
  width: 212px;
  height: 42px;
  border-radius: 10px;
  position: absolute;
  top: 435px;
  right: 374px;
}
main #grow #grow_inner .chea p {
  color: #fff;
  line-height: 42px;
  text-align: center;
  font-size: 18px;
  font-family: Pretendard-Medium;
}
main #grow #grow_inner .t:hover {
  color: #ff8500;
  border: 1px solid #fff;
  width: 212px;
  height: 42px;
  background: #fff;
  border-radius: 10px;
  font-size: 18px;
  font-family: Pretendard-Bold;
}

footer {
  margin: 0 auto;
}
footer div #footer_inner {
  height: 327px;
  width: 100%;
  background: #F8F8F8;
}
footer div #footer_inner .footer_logo {
  width: 182px;
  height: 32px;
  margin-top: 91px;
  margin-left: 140px;
}
footer div #footer_inner .footer_menu {
  margin-left: 390px;
  margin-top: -23px;
  width: 700px;
}
footer div #footer_inner .footer_menu li {
  display: inline-block;
  font-size: 18px;
}
footer div #footer_inner .footer_menu li a {
  margin-left: 24px;
  color: #000;
  font-family: Pretendard-Medium;
}
footer div #footer_inner .footer_menu li:nth-child(1) {
  -webkit-text-decoration: underline solid 1px #000;
          text-decoration: underline solid 1px #000;
}
footer div #footer_inner .footer_menu li:nth-child(1) a {
  font-family: Pretendard-Bold;
}
footer div #footer_inner .social {
  float: right;
  padding-right: 140px;
  margin-top: -23px;
}
footer div #footer_inner .social li {
  display: inline-block;
  margin-left: 18px;
}
footer div #footer_inner .address {
  font-family: Pretendard-Medium;
}
footer div #footer_inner .address .cs {
  color: #000;
  font-size: 17px;
  margin-top: 51px;
  margin-left: 416px;
  display: flex;
}
footer div #footer_inner .address .cs dd {
  margin-left: 10px;
}
footer div #footer_inner .address .blind {
  color: #000;
  font-size: 17px;
  display: flex;
  padding-left: 414px;
  padding-top: 11px;
}
footer div #footer_inner .address .blind dd {
  margin-right: 36px;
}
footer div #footer_inner .copy {
  color: #7D7D7D;
  font-size: 18px;
  font-family: Pretendard-Medium;
  margin-left: 414px;
  margin-top: 36px;
}